/* .cataloguePage {
  padding-top: 1rem;
} */

.catalogue {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 2rem;
  column-gap: 1rem;
  justify-content: space-evenly;
  /* variables */
  --containerHeight: 355px;
  --kittyPart: 90%;
  --infoPart: 10%;
}

.catalogue * {
  transition: ease 400ms;
}

.sceletonContainer {
  position: relative;
  width: 100%;
  height: var(--containerHeight);
  border-radius: 1rem;
}

.kittyContainer {
  position: relative;
  width: 100%;
  height: var(--containerHeight);
}

.kittyContainer:hover {
  cursor: pointer;
}

.containerBackground {
  position: absolute;
  width: 100%;
  height: var(--kittyPart);
  border-radius: 1rem;
  opacity: 0.4;
}

.kittyContainer:hover .containerBackground {
  transform: scale(1.02, 1.02);
}

.kittyContainerContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.kitty {
  display: flex;
  justify-content: center;
  height: var(--kittyPart);
}

.kitty__info {
  height: var(--infoPart);
  text-align: left;
  padding: 0 0.5rem;
}

.kitty__info__head {
  font-weight: bold;
}

.kitty__info__details {
  display: flex;
  gap: 1rem;
}

.catalogue__additional {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: dashed 2px #f64e16;
  border-radius: 1rem;
}

.catalogue__additional {
  text-decoration: none;
  color: #f64e16;
}

.catalogue__additional:hover {
  cursor: pointer;
  color: black;
}

.catalogue__additional:hover .catalogue__additional__sign {
  transform: scale(1.06, 1.06);
}

.catalogue__additional__sign {
  z-index: 1;
  position: relative;
  width: 170px;
  height: 170px;
  border: dashed 2px #f64e16;
  border-radius: 50%;
}

.plus__horizontal {
  z-index: 2;
  position: absolute;
  left: 15%;
  top: 49%;
  width: 70%;
  height: 2%;
  border: dashed 2px #f64e16;
}
.plus__vertical {
  z-index: 2;
  position: absolute;
  top: 15%;
  left: 49%;
  height: 70%;
  width: 2%;
  border: dashed 2px #f64e16;
}

@media (max-width: 625px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .catalogue {
    row-gap: 1rem;
  }
}
