.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 5px;
  box-shadow: rgb(231 230 228) 3px 5px;
  color: rgb(68, 68, 68);
  background: url('../../images/pattern-tile.svg') center top / 44rem repeat
    rgb(243, 241, 238);
  position: relative;
}

.headerContainer > * {
  align-self: center;
}

.headerContainer .button--white {
  padding: 0.5rem 1rem;
}

.headerContainer h2 {
  font-size: 2rem;
}

@media (max-width: 625px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .headerContainer {
    padding: 1vw 4vw;
  }

  .headerContainer h2 {
    font-size: var(--mobileH2FS);
  }

  .headerContainer .button--white {
    padding: 1vw 2vw;
    font-size: 3.2vw;
  }
}
