.breedGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 49%);
  justify-content: space-between;
}

.breedContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 500px;

  border-radius: 2rem;
}

.empty {
  background-color: aquamarine;
}

.breedContainer:hover {
  cursor: pointer;
}

.containerBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: 0.3;
}
