/* .breed {
  padding-top: 1rem;
} */

.breedGrid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 49.5%);
  justify-content: space-between;
}

.breedContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  border-radius: 2rem;
}

.containerBackground--breed {
  height: 100%;
}

.breedContainer,
.breedContainer * {
  transition: ease 400ms;
}

.empty {
  background-color: var(--emptyClr);
}

.breedContainer:hover {
  cursor: pointer;
  border-color: #f64e16;
}

.breedContainer:hover img {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
.breedContainer:hover div {
  color: #f64e16;
}

.breedContainer--disabled {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  border-radius: 2rem;
}

.breed__info {
  margin: 0 auto;
  display: flex;
  column-gap: 0.7rem;
  row-gap: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* modal header */
.breedModal .cqTxTR {
  padding: 16px;
  background-color: var(--emptyClr);
}
.breedModal button {
  background-color: var(--emptyClr) !important;
}
/* modal content */
.breedModal .iCQEgQ {
  padding: 0px 16px 16px;
  background-color: var(--emptyClr);
}
.breedModal .catalogue {
  padding-top: 0;
}

@media (max-width: 625px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .breedGrid {
    gap: 1rem;
    grid-template-columns: 100%;
  }
  .breedContainer {
    height: 340px;
  }
  .breed__info {
    font-size: var(--mobileParagraphsFS);
  }
  .breed .button--white {
    width: 100%;
  }
  /* modal itself */
  .breedModal .dqDJyz {
    max-width: 100%;
  }
  /* modal header */
  .breedModal .cqTxTR {
    padding: 3vw;
  }
  /* modal content */
  .breedModal .iCQEgQ {
    padding: 0px 8px 16px;
  }
}
