.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
  font-weight: 700;
}

.navigation a {
  transition: ease 400ms;
}
.navigation a:hover {
  color: var(--mainClr);
}
.navigation a.active {
  color: var(--mainClr);
}

.navigation__homeLink {
  display: flex;
  align-items: center;
}
.navigation__homeLink a {
  font-size: 1.2rem;
  text-decoration: none;
}
.navigation__homeLink a::before {
  content: 'CryptoKittiesClone';
}

.navigation__menu {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: nowrap;
}

.navigation__menu a {
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2rem;
}

.connectButton {
  border: solid 2px;
  border-radius: 0.5rem;
  position: relative;
  width: 80px;
  height: 27px;
  transition: ease 300ms;
}
.connectButton__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: ease 300ms;
  text-align: center;
}

.connectButton:hover {
  cursor: pointer;
}
.connectButton--logout {
  overflow: hidden;
  background-color: #9ecff8;
}
.connectButton--logout:hover {
  background-color: #ffa1a1;
}
.connectButton--logout:hover .connectButton__content {
  transform: translateY(-22px);
}
.connectButton--login {
  background-color: #b0f6b9;
}

@media (max-width: 767.8px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .navigation {
    padding: 3vw 1vw;
  }
  .navigation__menu {
    gap: 2vw;
  }

  .navigation__homeLink a,
  .navigation__menu a {
    font-size: var(--mobileParagraphsFS);
  }

  .navigation__homeLink a::before {
    content: 'CKC';
  }

  .connectButton {
    border: solid 1px;
    border-radius: 2vw;
    width: 14vw;
    height: 4.6vw;
  }
  .connectButton__content {
    font-size: 2.8vw;
  }
  .connectButton--logout:hover .connectButton__content {
    transform: translateY(-4.3vw);
  }
}
