.factory {
  padding-top: 1rem;
}

.factory__container {
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.factory__kitty {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 50%;
  background-color: white;
}

.factory__kitty:first-child {
  padding-top: 6rem;
}

.factory__settings {
  width: 100%;
  text-align: left;
  flex-basis: 50%;
}

.factory__settings h2 {
  padding-left: 4px;
}

.factory__settings input {
  width: 100%;
}

.factory__settings__decorationColorsH {
  padding-left: 4px;
}

.factory__settings__decorationColors {
  display: flex;
  gap: 1rem;
}

.factory__settings__decorationColors div {
  flex-basis: 50%;
}

.attribute__info {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}

.badge {
  background-color: black;
  color: white;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.factory__buttons {
  display: flex;
}

@media (max-width: 767.8px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .factory__container {
    flex-direction: column;
  }
  .factory__kitty:first-child {
    padding-top: 2rem;
  }
  .factory__kitty .cat {
    padding-bottom: 5rem;
  }

  .attribute__info,
  .factory__settings__decorationColorsH,
  .factory__kitty__dna {
    font-size: var(--mobileParagraphsFS);
  }

  .factory__buttons button {
    width: 100%;
  }

  .factory .button--white {
    width: 100%;
  }
}
