.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 600px;
  left: 0;
}

.landing__cover {
  position: absolute;
  height: 600px;
  width: 100vw;
  background-color: #f64e16;
}

.landing img {
  margin: 1rem 0;
  z-index: 2;
}
.landing__header {
  z-index: 2;
}
.landing__header h1 {
  font-size: 4.2rem !important;
}
.landing__header h3 {
  font-size: 1.9rem;
  color: #2f2930;
}

.landing__link {
  cursor: pointer;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  width: 350px;
  background-color: #fff;
  color: #f64e16;
  border-radius: 1.5rem;
  transition: ease 400ms;
  text-decoration: none;
  border: solid 2px black;
  z-index: 2;
}

.landing__link:hover {
  color: black;
}

.marketplacePreview {
  padding-top: 1rem;
}

/* .marketplacePreview__header h1 {
  font-size: 2.8rem;
} */
